body {
    font-family: Arial, sans-serif;
    background-color: #20213c;
    margin: 0;
    padding: 0;
  }
  .container{
    text-align: center;
    margin-inline: 5vw;
    background-color: #2a2e53;;
    border-radius: 50px;
  }
  .container>h1{
    color:#ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-top: 5vh;
    padding-top: 3vh;
  }
  .add-city{
    display: flex;
    justify-content: center;
    margin-block: 5vh;
    margin-bottom: 10vh;
  }
  #cityInput{
    width:40%;
    padding: 1vw;
    margin-right: 1vw;
    border-radius: 20px;
    background-color: #26294b;
    order: 1px solid #030730;
    color: #ffffff;
    font-size: 20px;
  }
  #addBtn{
    padding-inline: 1.5vw;
    color: white;
    font-weight:600;
    font-size: 15px;
    background-color: #403570;
    border-radius: 20px;
    cursor: pointer;
  }
  
   .weather-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 10px; /* Gap between grid items */
    justify-content: center;
    margin-inline: 5vw;
  }
  
  .weather-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 175px;
    width: 315px;
    padding: 10px;
    background-image: url('./photos/Rectangle\ 1.png');
    background-repeat: no-repeat;
    border-radius: 5px;
    color: #ffffff;
  }
  
  
  .weather-details {
    text-align: left;
  }
  .weather-details> p:first-child{
    font-size: 45px;
    font-weight: 500;
    margin: 0px;
  }
  .weather-details> p:nth-child(2){
    color: rgba(255, 255, 255, 0.715);
  }
  .weather-icon-container{
    display: flex;
    flex-direction: column;
  }
  .weather-icon-container>img{
    margin-top: -30px;
  }
  .weather-icon-container>p{
    text-align: center;
    font-weight: 500;
  }

  @media screen and (max-width: 1160px){
    .weather-cards {
        /* On medium screens, show two column */
        grid-template-columns: repeat(2, 1fr);
      }
}
  
  @media screen and (max-width: 800px) {
    .container {
      max-width: 100%;
    }
  
    .weather-cards {
      /* On smaller screens, show one column */
      grid-template-columns: 1fr;
      padding-inline:50%;
      margin-left:0px;
    }
    h1{
        font-size: 30px;
    }
  }

 
  